* {
  box-sizing: border-box;
}

body, html, section, main, div, aside {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404041;
  height: 100px;
  width: 100%;
}

h1 {
  color: #E6E7E8;
  font-size: 50px;
  font-weight: 300;
  line-height: 100px;
  margin: 0;
}

.range-heading {
  color: #404041;
}

.range-update-container {
  margin:auto;
  width: 600px;
}

.range-input {
  border: 2px solid #E6E7E8;
  font: inherit;
  margin: 5px 12px;
  padding: 15px;
  width: 185px;
}

span {
  color: #ED458B;
  font-weight: 700;
}

.user-input {
  border: 2px solid #E6E7E8;
  display: block;
  font-size: 25px;
  font-family: inherit;
  margin: 20px auto 40px;
  padding: 10px;
  width: 400px;
}

.buttons {
  background-color: #929497;
  border: 0;
  border-radius: 20px;
  color: #FFFFFF;
  height:40px;
  font-family: inherit;
  font-size: 25px;
  margin: 0 10px;
  width: 185px;
}

.buttons:disabled {
  background: #D0D2D3;
}

.buttons:enabled:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  cursor: pointer;
}

.submit-button {
  margin-top: 20px;
}

.guess-button {
  margin-left:0;
}

.clear-button {
  margin-right:0px;
}

.guess-text {
  color: #404041;
  font-size: 25px;
  font-family: inherit;
  margin:40px 0 0 0;
}

.response {
  margin: 0 0 40px 0;
}

.user-guess-number {
  color: #EB008B;
  font-size:150px;
}

.response-guess-text {
  font-size: 24px;
}

.reset-button {
  background-color:#929497;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  height: 30px;
  width:400px;
}

.reset-button:enabled:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  cursor: pointer;
}

.reset-button:disabled {
  background: #D0D2D3;
}

.range-update-text {
  color: #ED458B;
  font-size: 40px;
  font-weight: 700;
}
